<br/>Nombre: {{name}}
<br/>Email: {{email}}
<br/>{{gamesWin}}
<br/>
<a ng-click="logout();">Cerrar sesion.</a>
<div class="page-content" ng-controller="controladorPrincipal">
    <div class="row">
        <div class="space-6"></div>
       
        <div class="userInput" ng-hide="hasFinished()" style=" margin:20px;">
            <div class="revealed" style=" margin:20px;letter-spacing:0.5em;">
              {{ revealed }}
            </div>
            
            <form ng-submit="submitLetter()">
                <input type ="text" id="letterTextBox" name="letterTextBox" maxlength="1" size="1" ng-model="letter" autofocus />
                <input type ="submit" id="tryButton" name="tryButton" value="Intentar" />
            </form>       
        </div>
        <div ng-show="hasFinished()">
            <div ng-show="hasWon">Ganaste</div>
            <div ng-show="!hasWon">Perdiste</div>
         <a href="" ng-click="init()">Volver a jugar</a>
        </div>  
         <img class="health" ng-src="{{ 'partials/img/' + health+ '.png' }}" />
    </div>
</div>


