
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Crear cuenta para el juego del Ahorcado
                        </h4>
                        <br/>
                        <form name="signupForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus/>
                                         <div role="alert">
                                          <span class="error" ng-show="signupForm.email.$error.required">
                                            Requerido</span>
                                          <span class="error" ng-show="signupForm.email.$error.email">
                                            No es un email valido.</span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password">Contrasenha</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Contrasenha" ng-model="signup.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Ingresar contrasenha.</small>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password2">Confirmar contrasenha</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Contrasenha otra vez" ng-model="signup.password2" password-match="signup.password" required/>                                
                                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Reingresar contrasenha.</small>
                               <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Las contrasenhas no son iguales.</small>

                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Nombre Completo</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Nombre" name="namee" ng-model="signup.name" ng-minlength="4"/>
                                <p ng-show="signupForm.namee.$error.minlength" class="help-block">El nombre es muy corto.</p>
                            </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Numero tarjeta de credito</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                    <input type="text" name="numTarjCred" class="form-control" ng-model="signup.tarj" placeholder="XXXX-XXXXX-XXXXX" ng-minlength="13" ng-maxlength="16"/>
                                    <p ng-show="signupForm.numTarjCred.$error.minlength" class="help-block">El numero de tarjeta es muy corto.</p>
                                    <p ng-show="signupForm.numTarjCred.$error.maxlength" class="help-block">El numero de tarjeta es muy largo.</p>
                            </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Red de emision</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <select>
                                  <option value="mc">Marter Card</option>
                                  <option value="vi">Visa</option>
                                </select>
                            </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Codigo de seguridad</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                   <input type="text" name="codSeg" class="form-control" ng-model="signup.cod" ng-minlength="2" ng-maxlength="4">
                                        <p ng-show="signupForm.codSeg.$error.minlength" class="help-block">El codigo de seguridad es muy corto.</p>
                                        <p ng-show="signupForm.codSeg.$error.maxlength" class="help-block">El codigo de seguridad es muy largo.</p>
                                </div>
                                </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Fecha de expiracion</label>
                                <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="date" id="date" name="input" ng-model="signup.date"
                                       placeholder="yyyy-MM-dd" min="2016-05-01" required />
                                   <div role="alert">
                                     <span class="error" ng-show="signupForm.date.$error.required">
                                         Required!</span>
                                     <span class="error" ng-show="signupForm.date.$error.date">
                                         Not a valid date!</span>
                                    </div>
                                 </span>
                                </div>
                            </div>


                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                        Crear cuenta
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">Ya tiene cuenta? <a href="#/login">Iniciar sesion</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->